# Question 2

### A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
- Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

### Data Description 
- α == 0.05 (95% Confidence)
- Y == Continious
- X == Discrete
- Is Y1, Y2, Y3 and Y4 normal ?
- H0 = Y1, Y2, Y3 and Y4 are normal
- H1 = Y1, Y2, Y3 and Y4 are not normal

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
lab=pd.read_csv("LabTAT.csv")
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [3]:
# Normality test
stats.shapiro(lab["Laboratory 1"])

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)

- pvalue of Laboratory 1 is 0.55==>α

In [4]:
# Lab 2
stats.shapiro(lab["Laboratory 2"])

ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)

-  pvalue of Laboratory 1 is 0.86==>α

In [5]:
# Lab 3
stats.shapiro(lab["Laboratory 3"])

ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)

-  pvalue of Laboratory 1 is 0.42==>α

In [6]:
# Lab 4
stats.shapiro(lab["Laboratory 4"])

ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

-  pvalue of Laboratory 1 is 0.66==>α

## H0 is normal because Y1,Y2,Y3,&Y4 are normal

# Finding Variance
- H0== variance of all 4 laboratries are same
- H1== variance of all 4 laboratories are not same

In [7]:
# The Levene test tests the null hypothesis that all input samples are from populations with equal variances.
stats.levene(lab["Laboratory 1"], lab["Laboratory 2"], lab["Laboratory 3"], lab["Laboratory 4"])

LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

### pvalue of levene test is 0.51>α i.e H0 is accepted nothing is changed

# Performing anova test 
- The one-way analysis of variance (ANOVA) is used to determine whether there are any statistically significant differences between the means of three or more independent (unrelated) groups.
- H0= turn around time are same
- H1= turn around time are not same

In [8]:
stats.stats.f_oneway(lab["Laboratory 1"], lab["Laboratory 2"], lab["Laboratory 3"], lab["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

- pvalue of anova test is 2.11 < α
### H1 is accepted because there is a difference between TAT in all laboratories