In [1]:
import pandas as pd
import statistics as stats
import numpy as np
from pandas import DataFrame,Series

In [2]:
ex = pd.read_csv('Q7.csv')
ex

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [3]:
type(ex)

pandas.core.frame.DataFrame

In [4]:
points=pd.read_csv('Q7.csv', nrows=2)
points

      Unnamed: 0  Points  Score  Weigh
0      Mazda RX4     3.9  2.620  16.46
1  Mazda RX4 Wag     3.9  2.875  17.02

In [5]:
All=pd.read_csv('Q7.csv', usecols=[1,2,3])
All

    Points  Score  Weigh
0     3.90  2.620  16.46
1     3.90  2.875  17.02
2     3.85  2.320  18.61
3     3.08  3.215  19.44
4     3.15  3.440  17.02
5     2.76  3.460  20.22
6     3.21  3.570  15.84
7     3.69  3.190  20.00
8     3.92  3.150  22.90
9     3.92  3.440  18.30
10    3.92  3.440  18.90
11    3.07  4.070  17.40
12    3.07  3.730  17.60
13    3.07  3.780  18.00
14    2.93  5.250  17.98
15    3.00  5.424  17.82
16    3.23  5.345  17.42
17    4.08  2.200  19.47
18    4.93  1.615  18.52
19    4.22  1.835  19.90
20    3.70  2.465  20.01
21    2.76  3.520  16.87
22    3.15  3.435  17.30
23    3.73  3.840  15.41
24    3.08  3.845  17.05
25    4.08  1.935  18.90
26    4.43  2.140  16.70
27    3.77  1.513  16.90
28    4.22  3.170  14.50
29    3.62  2.770  15.50
30    3.54  3.570  14.60
31    4.11  2.780  18.60

In [6]:
All.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [7]:
All.mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [8]:
All.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [9]:
Q9a = pd.read_csv('Q9_a.csv')
Q9a

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [10]:
q9aa= pd.read_csv('Q9_a.csv', usecols=[1,2])
q9aa

    speed  dist
0       4     2
1       4    10
2       7     4
3       7    22
4       8    16
5       9    10
6      10    18
7      10    26
8      10    34
9      11    17
10     11    28
11     12    14
12     12    20
13     12    24
14     12    28
15     13    26
16     13    34
17     13    34
18     13    46
19     14    26
20     14    36
21     14    60
22     14    80
23     15    20
24     15    26
25     15    54
26     16    32
27     16    40
28     17    32
29     17    40
30     17    50
31     18    42
32     18    56
33     18    76
34     18    84
35     19    36
36     19    46
37     19    68
38     20    32
39     20    48
40     20    52
41     20    56
42     20    64
43     22    66
44     23    54
45     24    70
46     24    92
47     24    93
48     24   120
49     25    85

In [11]:
print(q9aa.skew())

speed   -0.117510
dist     0.806895
dtype: float64

In [12]:
q9ab=print('skewness value for speed and distance is', np.round(q9aa.speed.skew(), 2), 
      'and', np.round(q9aa.dist.skew(), 2), 'respectively')
q9ab

skewness value for speed and distance is -0.12 and 0.81 respectively

In [13]:
print('Kurtosis value for speed and distance is', np.round(q9aa.speed.kurt(), 2), 
      'and', np.round(q9aa.dist.kurt(), 2), 'respectively')

Kurtosis value for speed and distance is -0.51 and 0.41 respectively

In [14]:
Q9b=pd.read_csv('Q9_b.csv')
Q9b

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [15]:
Q9bb=pd.read_csv('Q9_b.csv', usecols=[1,2])
Q9bb

            SP         WT
0   104.185353  28.762059
1   105.461264  30.466833
2   105.461264  30.193597
3   113.461264  30.632114
4   104.461264  29.889149
..         ...        ...
76  169.598513  16.132947
77  150.576579  37.923113
78  151.598513  15.769625
79  167.944460  39.423099
80  139.840817  34.948615

[81 rows x 2 columns]

In [16]:
print('Value of skewness for SP and WT(weight) is', np.round(Q9bb.SP.skew(), 2), 
      'and', np.round(Q9bb.WT.skew(), 2), 'respectively')

Value of skewness for SP and WT(weight) is 1.61 and -0.61 respectively

In [17]:
print('Value of kurtosis for SP and WT(weight) is', np.round(Q9bb.SP.kurt(), 2), 
      'and', np.round(Q9bb.WT.kurt(), 2), 'respectively')

Value of kurtosis for SP and WT(weight) is 2.98 and 0.95 respectively

In [18]:
Cars=pd.read_csv('Cars.csv')
Cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [19]:
#!pip install tensorflow

In [20]:
#!pip install keras

In [21]:
from scipy import stats

In [22]:
AVG_WGT1 = stats.norm.interval(0.97, loc = 200, scale = 30)
print('Average weight of adult in Mexico at 94% confidence interval', np.round(AVG_WGT1, 3))

Average weight of adult in Mexico at 94% confidence interval [134.897 265.103]

In [23]:
AVG_WGT2 = stats.norm.interval(0.99, loc = 200, scale = 30)
print('Average weight of adult in Mexico at 98% confidence interval', np.round(AVG_WGT2, 3))

Average weight of adult in Mexico at 98% confidence interval [122.725 277.275]

In [24]:
AVG_WGT3 = stats.norm.interval(0.98, loc = 200, scale = 30)
print('Average weight of adult in Mexico at 96% confidence interval', np.round(AVG_WGT3, 3))

Average weight of adult in Mexico at 96% confidence interval [130.21 269.79]

In [25]:
df = [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]
df = pd.DataFrame(df)

In [26]:
df.mean()

0    41.0
dtype: float64

In [27]:
df.median()

0    40.5
dtype: float64

In [28]:
df.std()

0    5.052664
dtype: float64

In [29]:
df.var()

0    25.529412
dtype: float64

In [30]:
import pandas as pd

In [31]:
q20=pd.read_csv("Cars.csv")

In [32]:
q20

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [33]:
print("Probabilty that 'MPG' > 38 = ", np.round(1-stats.norm.cdf(38, loc = q20.MPG.mean(), scale = q20.MPG.std()), 3))

Probabilty that 'MPG' > 38 =  0.348

In [34]:
 print("Probabilty that 'MPG' < 40 = ", np.round(stats.norm.cdf(40, loc = q20.MPG.mean(), scale = q20.MPG.std()), 3))

Probabilty that 'MPG' < 40 =  0.729

In [35]:
print("Probabilty that 20 <'MPG' < 40 = ", np.round((1-stats.norm.cdf
                                                     (20, loc = q20.MPG.mean(), scale = q20.MPG.std())) -
                                                     (stats.norm.cdf(40, q20.MPG.mean(), scale = q20.MPG.std())) , 3))

Probabilty that 20 <'MPG' < 40 =  0.214

In [36]:
print('Z scores at 90% confidence interval is', np.round(stats.norm.ppf(.95), 2))

Z scores at 90% confidence interval is 1.64

In [37]:
print('Z scores at 94% confidence interval is', np.round(stats.norm.ppf(.97), 2))

Z scores at 94% confidence interval is 1.88

In [38]:
print('Z scores at 60% confidence interval is', np.round(stats.norm.ppf(.80), 2))

Z scores at 60% confidence interval is 0.84

In [39]:
print(' t scores at 95% confidence interval is', np.round(stats.t.ppf(0.975, df = 24), 2))

 t scores at 95% confidence interval is 2.06

In [40]:
print(' t scores at 96% confidence interval is', np.round(stats.t.ppf(0.98, df = 24), 2))

 t scores at 96% confidence interval is 2.17

In [41]:
print(' t scores at 99% confidence interval is', np.round(stats.t.ppf(0.995, df = 24), 2))

 t scores at 99% confidence interval is 2.8

In [42]:
t_value = (260 - 270)/(90/np.sqrt(18))
print('critical value = ', np.round(t_value, 2))
print('probabilty for average life of no more than 260 days is', np.round(stats.t.cdf(t_value, df=17), 2))

critical value =  -0.47
probabilty for average life of no more than 260 days is 0.32