In [8]:
import pandas as pd
import numpy as np

In [9]:
book_df = pd.read_csv('book.csv',encoding='ISO-8859-1')

In [10]:
book_df[1:5]

,Unnamed: 0,User.ID,Book.Title,Book.Rating
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

,Unnamed: 0,User.ID,Book.Title,Book.Rating
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [11]:
book_df.shape

(10000, 4)

(10000, 4)

In [12]:
book_df[0:5]

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [13]:
book_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   User.ID      10000 non-null  int64
 2   Book.Title   10000 non-null  object
 3   Book.Rating  10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   User.ID      10000 non-null  int64
 2   Book.Title   10000 non-null  object
 3   Book.Rating  10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [16]:
#number of unique users in the dataset
book_df['User.ID'].unique()

array([276726, 276729, 276736, ..., 162113, 162121, 162129], dtype=int64)

array([276726, 276729, 276736, ..., 162113, 162121, 162129], dtype=int64)

In [18]:
book_df['Book.Title'].unique()

array(['Classical Mythology', 'Clara Callan', 'Decision in Normandy', ...,
       'How to Flirt: A Practical Guide', 'Twilight',
       'Kids Say the Darndest Things'], dtype=object)

array(['Classical Mythology', 'Clara Callan', 'Decision in Normandy', ...,
       'How to Flirt: A Practical Guide', 'Twilight',
       'Kids Say the Darndest Things'], dtype=object)

In [20]:
book_df.drop_duplicates(['UserId','BookTitle'],inplace=True)

KeyError: Index(['BookTitle', 'UserId'], dtype='object')

KeyError: Index(['BookTitle', 'UserId'], dtype='object')

In [ ]:
user_book_df = book_df.pivot(index='Userid',
                                 columns='BookTitle',
                                 values='BookRating').reset_index(drop=True)

In [ ]:
user_book_df.shape

In [ ]:
user_book_df.index = book_df.Userid.unique()

In [ ]:
user_book_df

In [ ]:
#Impute those NaNs with 0 values
user_book_df.fillna(0, inplace=True)

In [ ]:
user_book_df

In [ ]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [ ]:
user_sim = 1 - pairwise_distances( user_book_df.values,metric='cosine')

In [ ]:
user_sim

In [ ]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [ ]:
#Set the index and column names to user ids 
user_sim_df.index = book_df.Userid.unique()
user_sim_df.columns = book_df.Userid.unique()

In [ ]:
user_sim_df.iloc[0:5,0:5]

In [ ]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

In [ ]:
book_df.shape

In [ ]:
book_df[(book_df['Userid']==276762) | (book_df['Userid']==276744.0)]

In [ ]:
user_1=book_df[book_df['Userid']==276762]

In [ ]:
user_2=book_df[book_df['Userid']==276744]

In [ ]:
user_2.BookTitle

In [ ]:
user_1.BookTitle

In [ ]:
pd.merge(user_1,user_2,on='BookTitle',how='outer')